{% extends 'base.html' %}  <!-- Herda o layout do 'base.html' -->

{% block body %}  <!-- Início do conteúdo principal da página -->

    <div class="container">
        <h1>Usuários</h1>  <!-- Título da página -->
        
        {% for usuario in lista_usuarios %}  <!-- Loop que itera sobre a lista de usuários -->
        
            <div class="container mt-5 d-flex justify-content-center">
                <div class="card p-3">
                    <div class="d-flex align-items-center">
                        <div class="image pe-2"> 
                            <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(usuario.foto_perfil)) }}" class="rounded" width="200"> 
                        </div>  <!-- Exibe a imagem de perfil do usuário -->
                        
                        <div class="ml-3 w-100">
                            <h4 class="mb-0 mt-0">{{ usuario.username }}</h4>  <!-- Exibe o nome de usuário -->
                            <span>{{ usuario.email }}</span>  <!-- Exibe o email do usuário -->
                            
                            <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                                {% if 'Não Informado' in usuario.cursos %}  <!-- Verifica se o usuário não informou cursos -->
                                    <div class="d-flex flex-column"> 
                                        <span class="articles">Cursos</span> 
                                        <span class="number1">0</span>  <!-- Exibe 0 cursos caso não informado -->
                                    </div>
                                {% else %}
                                    <div class="d-flex flex-column"> 
                                        <span class="articles">Cursos</span> 
                                        <span class="number1">{{ usuario.cursos.count(';') + 1 }}</span>  <!-- Conta e exibe o número de cursos -->
                                    </div>
                                {% endif %}
        
                                <div class="d-flex flex-column"> 
                                    <span class="rating">Posts</span> 
                                    <span class="number3">{{ usuario.contar_posts() }}</span>  <!-- Exibe o número de posts do usuário -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col col-4" style="text-align: center">
                    <strong>Cursos</strong><br>
                    {% for curso in usuario.cursos.split(';') %}  <!-- Loop que exibe os cursos do usuário -->
                        <button type="button" class="btn btn-success mt-2" disabled>{{ curso }}</button>  <!-- Exibe cada curso como um botão desabilitado -->
                    {% endfor %}
                </div>
            </div>

        {% endfor %}
    </div>

    <div class="row mt-5">
    </div>

{% endblock %}
